@import 'colors';

.nav-wrapper{
    background-color: $color_3;
}
.material-icons{
    margin: auto auto auto 15px;
}

#code-icon{
    font-size: 50px;
}

.text-nav{
    font-family: 'Raleway', sans-serif;
}